<?xml version="1.0"?>
<config>
	<modules>
		<GatewayProcessingServices_ThreeStep>
			<version>0.1.0</version>
		</GatewayProcessingServices_ThreeStep>
	</modules>
	<global>
		<blocks>
			<threestep>
				<class>GatewayProcessingServices_ThreeStep_Block</class>
			</threestep>
		</blocks>	
		<models>
			<threestep>
				<class>GatewayProcessingServices_ThreeStep_Model</class>
			</threestep>
		</models>
		<helpers>
		    <threestep>
		        <class>GatewayProcessingServices_ThreeStep_Helper</class>
		    </threestep>
		</helpers>
	</global>
    <frontend>
        <routers>
           <threestep>
               <use>standard</use>
               <args>
                   <module>GatewayProcessingServices_ThreeStep</module>
                   <frontName>threestep</frontName>
               </args>
           </threestep>
           <checkout>
               <args>
                   <modules>
                       <GatewayProcessingServices_ThreeStep before="Mage_Checkout">GatewayProcessingServices_ThreeStep</GatewayProcessingServices_ThreeStep>
                   </modules>
               </args>
           </checkout>
       </routers>
       <layout>
            <updates>
                <threestep>
                    <file>threestep.xml</file>
                </threestep>
            </updates>
        </layout>
        <events>
            <checkout_submit_all_after>
                <observers>
                    <threestep_save_order_after_submit>
                        <class>threestep/observer</class>
                        <method>saveOrderAfterSubmit</method>
                    </threestep_save_order_after_submit>
                </observers>
            </checkout_submit_all_after>
            <controller_action_postdispatch_checkout_onepage_saveOrder>
                <observers>
                    <threestep_save_order_onepage>
                        <class>threestep/observer</class>
                        <method>addAdditionalFieldsToResponseFrontend</method>
                    </threestep_save_order_onepage>
                </observers>
            </controller_action_postdispatch_checkout_onepage_saveOrder>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <GatewayProcessingServices_ThreeStep before="Mage_Adminhtml">GatewayProcessingServices_ThreeStep_Adminhtml</GatewayProcessingServices_ThreeStep>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <threestep>
                    <file>threestep.xml</file>
                </threestep>
            </updates>
        </layout>
        <events>
            <checkout_submit_all_after>
                <observers>
                    <threestep_update_all_edit_increments>
                        <class>threestep/observer</class>
                        <method>updateAllEditIncrements</method>
                    </threestep_update_all_edit_increments>
                </observers>
            </checkout_submit_all_after>
        </events>
    </adminhtml>
	<default>
		<payment>
			<threestep>
				<active>0</active>
				<model>threestep/paymentMethod</model>
				<order_status>pending</order_status>
				<title>Credit Card</title>
				<cctypes>VI,MC,DI,AE</cctypes>
				<payment_action>authorize</payment_action>
				<currency>USD</currency>
				<allowspecific>0</allowspecific>
				<useccv>0</useccv>
			</threestep>
		</payment>
	</default>
</config>
